:root {
  --footer-height: 100px;
  --nav-height: 75px;
}

body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: sans-serif;
}

.content {
  padding: 20px;
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

.clickable {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background: #183153;
  color: white;
}

.navbar {
  background: #183153;
  color: white;
  height: var(--nav-height);
}

.nav-link,
.navbar-brand {
  color: white;
}

.navbar-nav .nav-link.active {
  color: lightblue;
}

.navbar-nav .navbar-brand.active {
  color: white;
}

.default-form {
  transform: translateY(20vh);
  max-width: 400px;
}

.genre-selector {
  max-width: 300px;
}
